{% extends 'base.html.twig' %}

{% block title %}Inscription Employeur{% endblock %}

{% block body %}
    <section class="bg-white dark:bg-gray-900">
        <div class="container d-flex flex-column align-items-center justify-content-center px-4 py-5 my-4 my-lg-5">
            <div class="w-50 bg-white rounded-lg shadow-lg border mb-0 md:mb-0 max-md-width-xl">
                <div class="p-4 p-md-5 space-y-4 md:space-y-5">
                    <h1 class="text-center h2 fw-bold">
                        Inscription Employeur
                    </h1>
                    {% for flash_error in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}
                    {{ form_start(registrationForm, {'attr': {'id': 'employeur_registration_form'}}) }}
                    <div class="space-y-4 md:space-y-6">
                        {{ form_row(registrationForm._token) }}
                        <div>
                            {{ form_label(registrationForm.societe, '', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                            {{ form_widget(registrationForm.societe, {'attr': {'class': 'form-control bg-gray-50 border border-gray-300 text-gray-900 sm-text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark-placeholder-gray-400 dark-text-white dark-focus-ring-blue-500 dark-focus-border-blue-500'}}) }}
                        </div>
                        <div>
                            {{ form_label(registrationForm.ville, '', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                            {{ form_widget(registrationForm.ville, {'attr': {'class': 'form-control bg-gray-50 border border-gray-300 text-gray-900 sm-text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark-placeholder-gray-400 dark:text-white dark-focus:ring-blue-500 dark-focus:border-blue-500'}}) }}
                        </div>
                        <div>
                            {{ form_label(registrationForm.codePostal, '', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                            {{ form_widget(registrationForm.codePostal, {'attr': {'class': 'form-control bg-gray-50 border border-gray-300 text-gray-900 sm-text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark-placeholder-gray-400 dark:text-white dark-focus:ring-blue-500 dark-focus:border-blue-500'}}) }}
                        </div>
                        <div>
                            {{ form_label(registrationForm.adresse, '', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark-text-white'}}) }}
                            {{ form_widget(registrationForm.adresse, {'attr': {'class': 'form-control bg-gray-50 border border-gray-300 text-gray-900 sm-text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 p-2.5 dark-bg-gray-700 dark-border-gray-600 dark-placeholder-gray-400 dark-text-white dark-focus-ring-blue-500 dark-focus-border-blue-500'}}) }}
                        </div>
                        <div>
                            {{ form_label(registrationForm.phone, '', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark-text-white'}}) }}
                            {{ form_widget(registrationForm.phone, {'attr': {'class': 'form-control bg-gray-50 border border-gray-300 text-gray-900 sm-text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 p-2.5 dark-bg-gray-700 dark-border-gray-600 dark-placeholder-gray-400 dark-text-white dark-focus-ring-blue-500 dark-focus-border-blue-500'}}) }}
                        </div>
                        <div>
                            {{ form_label(registrationForm.email, '', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark-text-white'}}) }}
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control bg-gray-50 border border-gray-300 text-gray-900 sm-text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 p-2.5 dark-bg-gray-700 dark-border-gray-600 dark-placeholder-gray-400 dark-text-white dark-focus-ring-blue-500 dark-focus-border-blue-500'}}) }}
                        </div>
                        <div>
                            {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark-text-white'}}) }}
                            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control bg-gray-50 border border-gray-300 text-gray-900 sm-text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 p-2.5 dark-bg-gray-700 dark-border-gray-600 dark-placeholder-gray-400 dark-text-white dark-focus-ring-blue-500 dark-focus-border-blue-500'}}) }}
                        </div>
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white required" for="candidat_registration_form_newpwd">Retaper mot de passe</label>
                            <input type="password" id="employeur_registration_form_newpwd"  class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm-text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark-placeholder-gray-400 dark:text-white dark-focus:ring-blue-500 dark-focus:border-blue-500" >
                        </div>

                        <div id="password-error" style="color: red;"></div>
                        <button type="submit" class="btn btn-primary w-100 fw-bold text-sm px-5 py-2.5 text-center mt-3" id="submitBtn">S'inscrire</button>
                        <p class="text-sm font-light text-gray-500 dark-text-gray-400">
                            Vous avez déjà un compte? <a href="/login" class="font-medium text-primary-600 hover-underline dark-text-primary-500">Se connecter</a>
                        </p>
                    </div>
                    {{ form_end(registrationForm, {render_rest: false}) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function (){
        $("#submitBtn").click(function(event) {
            console.log(event)
            var password = $("#employeur_registration_form_plainPassword").val();
            var confirmPassword = $("#employeur_registration_form_newpwd").val();

            // Password length should be at least 8 characters
            if (password.length < 8) {
                $("#password-error").text("Le mot de passe doit avoir au moins 8 caractères.");
                event.preventDefault();
                return;
            }

            // Password should contain at least 1 uppercase letter
            if (!/[A-Z]/.test(password)) {
                $("#password-error").text("Le mot de passe doit contenir au moins une lettre majuscule.");
                event.preventDefault();
                return;
            }

            // Password should contain at least 1 symbol
            if (!/[\W_]/.test(password)) {
                $("#password-error").text("Le mot de passe doit contenir au moins un symbole.");
                event.preventDefault();
                return;
            }

            // Passwords should match
            if (password !== confirmPassword) {
                $("#password-error").text("Les mots de passe ne correspondent pas.");
                event.preventDefault();
            }
        });
    });
</script>

{% endblock %}
