{% extends 'base.html.twig' %}

{% block title %}Offres d'emploi{% endblock %}
{% block style %}
    <style>
        .searchBar {
            background: #fff;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container min-vh-100">

        <div class="mt-5 d-flex gap-4 py-5">
            <form class="col-md-3 ">
                <div class="searchBar w-100 shadow-lg h-100 border rounded p-4 d-flex flex-column gap-4">
                    <input type="text" name="search" placeholder="Recherche ..." value="{{ search }}" class="form-control">
                    <div>
                        <label  class="label-form" for="secteur">Secteurs</label>
                        <select id="secteur" class="form-control" name="secteur">
                            <option value=""></option>
                            {% for secteurItem in secteurs %}
                                <option value="{{ secteurItem.id }}" {% if secteurItem.id == secteur %}selected {% endif %}>{{ secteurItem.titre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="category">Catégorie</label>
                        <select id="category" class="form-control" name="category">
                            <option value=""></option>
                            {% for categoryItem in categories %}
                                <option value="{{ categoryItem.id }}" {% if categoryItem.id == category %}selected {% endif %}>{{ categoryItem.titre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label class="label-form" for="profil">Profile</label>
                        <select id="profil" class="form-control" name="profil">
                            <option value=""></option>
                            {% for profilItem in profiles %}
                                <option value="{{ profilItem }}" {% if profilItem == profil %}selected {% endif %}>{{ profilItem }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label class="label-form" for="skills">Skills</label>
                        <select id="skills" class="form-control select2" name="skills[]" multiple="multiple">
                            <option value=""></option>
                            {% for skill in skills %}
                                <option value="{{ skill.id }}" {% if skill.id in skillsIds %}selected{% endif %} >{{ skill.titre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label class="label-form" for="typeContrat">Type de contrat</label>
                        <select id="typeContrat" class="form-control" name="typeContrat">
                            <option value=""></option>
                            {% for typeContratItem in typeContrats %}
                                <option value="{{ typeContratItem }}" {% if typeContratItem == typeContrat %}selected {% endif %}>{{ typeContratItem }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="tjmContainer" >
                        <label>TJM</label>
                        <div class="d-flex justify-content-between gap-4">
                            <input type="number" id="minTjm" name="minTjm" value="{{ minTjm }}" placeholder="Min" class="form-control">
                            <input type="number" id="maxTjm" name="maxTjm" value="{{ maxTjm }}" placeholder="Max" class="form-control">
                        </div>
                    </div>
                    <div id="salaireContainer" >
                        <label>Salaire</label>
                        <div class="d-flex justify-content-between gap-2">
                            <input type="number" id="minSalaire" name="minSalaire" value="{{ minSalaire }}" placeholder="Min" class="form-control">
                            <input type="number" id="maxSalaire" name="maxSalaire" value="{{ maxSalaire }}" placeholder="Max" class="form-control">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Recherche</button>
                    <button type="reset" class="btn btn-secondary ">Supprimer</button>

                </div>
            </form>
            <div class="col-md-9">
                <div class="row row-cols-1 row-cols-md-3 ">
                    <!-- Carte 1 -->
                    {% for offre in offres %}
                        <div class="col mb-4">
                            <div class="card ">
                                <div class="card-body shadow-md">
                                    <h5 class="card-title text-truncate">{{ offre.titre }}</h5>
                                    <p class="card-text text-truncate text-description">{{ offre.description }}</p>
                                    <p class="card-text text-truncate"><strong>Date de début</strong> : {{ offre.demarrage|date('d/m/y') }}</p>
                                    <p class="card-text text-truncate"><strong>Secteur d'activité</strong> : {{ offre.secteur.titre }}</p>
                                    <p class="card-text text-truncate"><strong>Lieu</strong> : {{ offre.lieu }}</p>
                                    <p class="card-text text-truncate"><strong>Profil</strong> : {{ offre.profil }}</p>
                                    <a href="/offre/view/{{ offre.id }}" class="btn btn-primary ">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="navigation d-block mx-auto">
                    {{ knp_pagination_render(offres) }}
                </div>
            </div>



            <!-- Pagination -->

        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $( document ).ready(function() {
            console.log('value')

            $('#typeContrat').change(function (e){
                const value = e.target.value;
                console.log(value)
                if (value ==='CDI') {
                    $('#salaireContainer').show();
                    $('#tjmContainer').hide();
                }else if(value ==='Freelance') {
                    $('#salaireContainer').hide();
                    $('#tjmContainer').show();
                }else {
                    $('#salaireContainer').hide();
                    $('#tjmContainer').hide();
                }
            })
            $('#typeContrat').trigger('change');
        });
    </script>
{% endblock %}
