{% block body %}
    <div class="p-4 p-md-5 space-y-4 md:space-y-5">
        {{ form_start(form) }}
        <div class="space-y-4 md:space-y-6">
            <h2>secteur d'activité</h2>
            {{ form_row(form._token) }}

            <div class="mb-3">
                <label for="{{ form.titre.vars.id }}" class="form-label">Titre</label>
                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            </div>

            <button type="submit" class="btn btn-primary w-20 fw-bold text-sm px-5 py-2.5 text-center mt-3">Enregistrer</button>
        </div>
        {{ form_end(form, {render_rest: false}) }}
        <a href="{{ path('app_secteur_index') }}">Retourner</a>
    </div>
{% endblock %}