{% extends 'candidat_info/base-candidat.html.twig' %}
{% block style %}
    <link href="{{ asset('assets/css/calendar.css')}}" rel="stylesheet">
    <style>
        .entretien-not-confirmed {
            background: #6e707e;
            padding: 2px;

        }

        .entretien-confirmed {
            background: #0d6efd;
            padding: 2px;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="position: relative">
        <div id="calendar"></div>

    </div>

{% endblock %}
{% block script %}
    <script src="{{ asset('assets/js/plugin/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugin/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugin/fullcalendar/fr.js') }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('#calendar').fullCalendar({
                lang: 'fr',
                header: {
                    left: 'title', //,today
                    center: 'prev, next',
                    right: null //month, agendaDay,
                },
                events: [
                    {% for entretienDate in entretiensDates %}
                        {
                            title: '{{ entretienDate.entretien.titre }}',
                            url: '/entretien/candidat/{{ entretienDate.entretien.id }}',
                            start: '{{ entretienDate.date|date('Y-m-d\\TH:i:s') }}',
                            end: '{{ entretienDate.dateFin|date('Y-m-d\\TH:i:s') }}',
                            className: '{{ entretienDate.confirmed ? "entretien-confirmed": "entretien-not-confirmed" }}'
                        },
                    {% endfor %}
                ],
            });

            // render the calendar
        });
    </script>
{% endblock %}
