{% block content %}
    <div class="p-4 p-md-5 space-y-4 md:space-y-5">
        {{ form_start(form) }}
        <div class="space-y-4 md:space-y-6">
            <h2>Experience</h2>
            {{ form_row(form._token) }}

            <div class="mb-3">
                <label for="{{ form.nomEntreprise.vars.id }}" class="form-label">Nom Entreprise</label>
                {{ form_widget(form.nomEntreprise, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                <label for="{{ form.titre.vars.id }}" class="form-label">Titre</label>
                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div  class="mb-3">
                {{ form_label(form.dateDebut, 'Date début', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.dateDebut, {'attr': {'type': 'text', 'class': 'form-control datepicker'}}) }}
            </div>
            <div  class="mb-3">
                {{ form_label(form.dateFin, 'Date de fin', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                {{ form_widget(form.dateFin, {'attr': {'type': 'text', 'class': 'form-control datepicker'}}) }}
            </div>
            <div class="mb-3">
                <label for="{{ form.nombreAnnee.vars.id }}" class="form-label">Nombre d'Années</label>
                {{ form_widget(form.nombreAnnee, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                <label for="{{ form.description.vars.id }}" class="form-label">Description</label>
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '4'}}) }}
            </div>

            <div class="mb-3">
                <label class="form-label">Skills</label>
                <select class="form-check-input select2 w-100" name="skills[]" multiple="multiple">
                    {% for skill in skills %}
                        <option value="{{ skill.id }}" {% if skill in experience.skills %} selected{% endif %}>{{ skill.titre }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary w-100 fw-bold text-sm px-5 py-2.5 text-center mt-3">Enregistrer</button>
        </div>
        {{ form_end(form, {render_rest: false}) }}
        <a href="{{ path('app_experience_index') }}">Retourner</a>
    </div>
{% endblock %}

